.india {
  margin-top: -4px;
}

.signin-arrow {
  margin-left: -3px;
}

.orders {
  margin-left: -10px;
}

@media (max-width: 770px) {
  .right {
    display: none;
  }
}

@media (min-width: 650px) {
  .bb-list {
    display: inline-flex;
  }
}
