.main-location {
  margin-left: -14px;
}

.india {
  margin-top: -4px;
}

.signin-arrow {
  margin-left: -3px;
}

.orders {
  margin-left: -10px;
}

@media (max-width: 780px) {
  .right {
    display: none;
  }
}
