.pagination {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background: #131921;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
}

.pagination2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background: #383737da;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0px;
}
